*,
::before,
::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border: none;
}
section {
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
  
 
  /* padding: 2000px 0; */
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url() no-repeat;
    background-size: cover;
    background-image: url(./20201222164711.JPG);
}
  
.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #97cf3c;
}
  
.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 4px solid #191970;
    margin-bottom: 50px;
    padding: 13px;
}
  
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #191970;
    
}
  
.fa {
    width: 20px;
    float: left;
    text-align: center;
}
  
.textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
    margin: 0 100px;
}
  
/*.button {
    width: 100%;
    padding: 8px;
    color: #ffffff;
    background: none #191970;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}*/
.button {
    border: 2px solid #e4cc60;
    outline: none;
    background:rgb(186, 186, 95);
    font-size: 20px;
    padding: 20px;
    width: 500px;
    position: absolute;
    top: 100;
    left: -30%;
    color: #0f0f0e;
    cursor: pointer;
  }
  